
<div class="booking-page-wrapper">
  <form [formGroup]="roomScheduleForm" (ngSubmit)="onSubmit()">
    <div class="booking-page-wrapper__room-options">
      <mat-form-field>
        <mat-label>Select Room</mat-label>
        <mat-select formControlName="roomControl" name="room">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let room of allRoomList" [value]="room.value" (click)="selectRoom(room.viewValue)">
            {{ room.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="booking-page-wrapper__date-time-container">
      <div class="booking-page-wrapper__date-time-container--date">
        <mat-form-field>
          <mat-label>Meeting date</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date" />
          <mat-datepicker #datepicker></mat-datepicker>
          <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
        </mat-form-field>
      </div>

      <div class="booking-page-wrapper__date-time-container--time" formGroupName="timeRangeForm">
        <label>
          Start Time:
          <input type="time" formControlName="startTime" />
        </label>

        <label>
          End Time:
          <input type="time" formControlName="endTime" />
        </label>
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="!roomScheduleForm.valid">Submit</button>
    </div>
  </form>
</div>

<!-- </div> -->
<app-schedule-table></app-schedule-table>

